<div id="scene_entries_warp" class="scene-entries-warp">
    <span id="scene_manager_btn" class="scene-manager-btn i18n-beacon" title="{{sceneManage}}"></span>
    <input id="scene_entries_list" name="sceneList" value="">
</div>